<h1>
  Welcome to Sinatra Audition
  <small class="clearfix">Solving a quiz for KIPU</small>
</h1>

<hr />

<h2> Quiz Description </h2>
<p>
  Build a Sinatra application that satisfies the following requirements:
  <ul>
    <li>The app should have two routes: <code>/home</code> and <code>/code</code></li>
    <li>To test the latter route, the user should be able to run the command: <code>curl http://your-app.herokuapp.com/code</code> and receive the JSON response:
      <pre class="prettyprint">{"code": "the code you wrote"}</pre>
    </li>
    <li>For the former route, the user should be able to visit <code>http://your-app.herokuapp.com/home</code> in a web browser and see a home page with an introduction and a bootstrap well showing <code>"the code you wrote"</code> with proper formatting and syntax highlighting.</li>
  </ul>
</p>

<h2> Solution </h2>
<p>If you are seeing this page is because I did the quiz, and if you think it's pretty, I did it fairly well.</p>

<h3>Project Tree</h3>
<p>
  This is the project tree with the relevant files to make this work:
  <pre>
|-config
|---application.rb
|---controllers.rb
|-controllers
|---application_controller.rb
|-log
|-public
|---css
|-------application.css
|---lib
|-----bootstrap-3.3.6
|-----google-code-prettify
|-tmp
|-views
|---error.erb
|---home.erb
|---layout.erb
|---not_found.erb
|-application.rb
|-config.ru
|-Gemfile
  </pre>
</p>

<h3>Used Gems</h3>
<p>
  Lets start with the gem file, which based on what I learned, describe all the ruby packages or gems used by this app:
  <pre class="prettyprint">
# ./Gemfile

source 'https://rubygems.org'

# Support proc-file based application
gem 'foreman'

# Web server
gem 'thin'

# Sinatra framework
gem 'sinatra'
gem 'sinatra-contrib'
  </pre>
</p>

<h3>Application Entry Point</h3>
<p>I'm not sure how, but it seems that <code>Thin</code> load the file <code>config.ru</code> to init the application. Notice how it invokes the class <code>SinatraAudition</code> who has the main code:
  <pre class="prettyprint">
# ./config.ru

require './application'

# Run sinatra application entry point
run SinatraAudition::Application
  </pre>
</p>
<p>Then in this class the applications gets configured trough the class <code>Configuration::Application</code> and then it delegates the routing to <code>ApplicationController</code>. Notice here how I use the modular approach because I think it's cleaner and I used to it:
  <pre class="prettyprint">
# ./application.rb

require './config/application'
require './controllers/application_controller'

# Define main application (Starting point)
module SinatraAudition
  class Application < Sinatra::Base

    # Configure the application
    register Configuration::Application

    # Delegate to the application controller
    use ApplicationController

  end
end
  </pre>

Here a preview of the main application configuration registered before. Here, I define <code>Thin</code> like the application server. Honestly, I do not know enough about Ruby application servers but people say that this is a simple one to use:
  <pre class="prettyprint">
# ./config/application.rb

# Configure the main application
module SinatraAudition
  module Configuration
    module Application

      # Configure after registering this module
      def self.registered(application)

        # Main configuration
        application.configure do |config|

          # Use Thin server by default
          config.set :server, :thin

        end
      end

    end
  end
end
  </pre>
</p>

<h3>Routing and Controlling</h3>
<p>The next piece of the puzzle is the <code>ApplicationController</code>, who receive the URLs and properly route them to specific functions. Notice how there two main function to solve the <code>/home</code> and <code>/code</code> requirements, plus some alternative function when there are some error:
<pre class="prettyprint">
# ./controllers/application_controller.rb

require 'sinatra/base'
require 'sinatra/reloader'
require 'sinatra/json'

require './config/controllers'

# Home page controller
module SinatraAudition
  class ApplicationController < Sinatra::Base

    # Configure controllers
    register Configuration::Controllers

    # Define some helpers
    helpers do

      # Get error
      def get_error
        env['sinatra.error']
      end

      # Get error message
      def error_message
        get_error.message
      end

      # Get error details
      def error_details
        get_error.backtrace
      end

    end

    # Handle not found routes
    not_found do
      erb :not_found
    end

    # Handle errors
    error do
      erb :error, locals: {
        error_message: error_message,
        error_datails: error_details
      }
    end

    # Application root
    get '/' do
      redirect to('/home')
    end

    # Home route
    get '/home' do
     erb :home
    end

    # Code route
    get '/code' do
      json 'code' => 'the code you wrote'
    end

  end
end
</pre>

Here the configuration file for this controller. Here I define when the application can find the views to render the HTML and another flag to letting me manage the error using a custom view:
<pre class="prettyprint">
# ./config/controllers.rb

# Configure Controllers
module SinatraAudition
  module Configuration
    module Controllers

      # Configure after registering this module
      def self.registered(controller)

        # Main configuration
        controller.configure do |config|

          # Configure views
          config.set :views, './views'

          # Custom exception handling
          config.set :show_exceptions, false

        end

        # Development configuration
        controller.configure :development do |config|

          # Reload controller code when it changes
          config.register Sinatra::Reloader

        end
      end

    end
  end
end
</pre>

Well, I'm glad you went down to here reading my solution. The rest of the code, specially the <code>/views</code>, you can find it in the <a href="https://bitbucket.org/reymillenium/sinatraauditionkipuhomework/src/" target="_blank">Repo</a>. Thanks!
</p>

<p class="alert alert-warning">At this moment, I'm not able to publish this on Heroku, but it runs locally.</p>
