<!DOCTYPE html>
<html>
  <head>
    <title>SINATRA_TEMPLATE</title>
    <link rel="stylesheet" href="/lib/google-code-prettify/prettify.css">
    <link rel="stylesheet" href="/lib/bootstrap-3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/application.css">
  </head>
  <body onload="prettyPrint()">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_sections" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Sinatra Audition</a>
        </div>

        <div class="collapse navbar-collapse" id="nav_sections">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/code">JSON Code</a></li>
            <li><a href="https://bitbucket.org/reymillenium/sinatraauditionkipuhomework/src/" target="_blank">Repo</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="small">
              <a href="https://www.linkedin.com/profile/view?id=467663327" target="_blank">Author: Reinier Garcia Ramos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="container" id="main_section">
      <%= yield %>
    </section>

    <script src="/lib/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/lib/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <script src="/lib/google-code-prettify/prettify.js"></script>

  </body>
</html>
