#main_section {
    margin-top: 60px;
}

pre.prettyprint {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 9.5px;
}

.prettyprint ol.linenums > li {
    list-style-type: decimal;
}
